<ul id="todo-list" class="todo-list">
    {{#each todos as |todo|}}
    <li class={{if todo.completed "completed" ""}}>
        <div class="view">
            <input type="checkbox" class="toggle" checked={{todo.completed}} onchange={{action "updateCompleted" todo}}>
            <label>{{todo.todoValue}}</label>
            <button {{action "deleteTodo" todo}} class="destroy"></button>
        </div>
    </li>
    {{/each}}
</ul>
